b {
    color: #1b4332; /* fill1 */
    color: #d8f3dc; /* fill2 */
    color: #d8f3dc; /* stroke1 */
    color: #081c15; /* stroke2 */
    color: #ced4da; /* placeholder */
    color: #ced4da; /* shadow */
    color: #d8f3dc; /* border */
    color: #ef233c; /* warmimg */
    color: #9ef01a; /* success */
    color: #081c15; /* background */
    color: #284b63; /* accent */
    color: #d8f3dc; /* text1 */
    color: #081c15; /* text2 */
    color: #3498DB; /* link */
    color: #95A5A6; /* disabled */
    color: #ffd7ba; /* overlay */
    color: #ced4da; /* devider */
    color: #95d5b2; /* highlight */
    color: #74c69d; /* navigation */
}